<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">

                <uib-tabset>
                    <uib-tab heading="{{'USER.PRIVILEGE_LIST' | translate}}">
                        <div class="panel-body" ng-controller="PrivilegeController">
                            <a ng-click="addPrivilege()" class="btn btn-primary btn-rounded btn-outline" href=""><i
                                    class="fa fa-plus-circle"></i> {{'USER.ADD_PRIVILEGE' | translate}}</a>
                            <br>
                            <br>
                            <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
                                <thead>
                                    <tr>
                                        <th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
                                        <th class="text-center">{{'SETTING.NAME' | translate}}</th>
                                        <th class="text-center">{{'SETTING.ACTION' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="privilege in privileges">
                                        <td class="text-center">{{ privilege.id }}</td>
                                        <td class="text-center">{{ privilege.name }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-rounded btn-xs"
                                                ng-click="editPrivilege(privilege)">{{'SETTING.EDIT' | translate}}</a>
                                            <a ng-click="deletePrivilege(privilege)"
                                                class="btn btn-danger btn-rounded btn-xs">{{'SETTING.DELETE' | translate}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="6">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>



</div>