# config for myems_system_db
MYEMS_SYSTEM_DB_HOST=127.0.0.1
MYEMS_SYSTEM_DB_PORT=3306
MYEMS_SYSTEM_DB_DATABASE=myems_system_db
MYEMS_SYSTEM_DB_USER=root
MYEMS_SYSTEM_DB_PASSWORD=!MyEMS1

# config for myems_historical_db
MYEMS_HISTORICAL_DB_HOST=127.0.0.1
MYEMS_HISTORICAL_DB_PORT=3306
MYEMS_HISTORICAL_DB_DATABASE=myems_historical_db
MYEMS_HISTORICAL_DB_USER=root
MYEMS_HISTORICAL_DB_PASSWORD=!MyEMS1

# Indicates how long the process waits between readings
INTERVAL_IN_SECONDS=600

# Get the gateway ID and token from MyEMS Admin
# This is used for getting data sources associated with the gateway
GATEWAY_ID=1
GATEWAY_TOKEN=983427af-1c35-42ba-8b4d-288675550225


BACNET_DEVICE_LOCAL_ADDRESS=172.18.0.8
BACNET_DEVICE_OBJECT_NAME=MYEMS
BACNET_DEVICE_OBJECT_IDENTIFIER=43981
BACNET_DEVICE_MAX_APDU_LENGTH_ACCEPTED=1024
BACNET_DEVICE_SEGMENTATION_SUPPORTED=segmentedBoth
BACNET_DEVICE_VENDOR_IDENTIFIER=1524
BACNET_DEVICE_FOREIGN_PORT=47808
BACNET_DEVICE_FOREIGN_BBMD=192.168.1.1
BACNET_DEVICE_FOREIGN_TTL=30