[Unit]
Description=myems-api daemon
Requires=myems-api.socket
After=network.target

[Service]
PIDFile=/run/myems-api/pid
User=nvidia
Group=nvidia
WorkingDirectory=/home/nvidia/PycharmProjects/myems/myems-api
ExecStart=/home/nvidia/anaconda3/envs/myems/bin/gunicorn --pid /run/myems-api/pid --timeout 600 --workers=4 app:api
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
