<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_energystoragepowerstation" novalidate class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea ng-model="exportdata" rows="22" cols="100" name="exportdata" class="form-control" required="" placeholder=""></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_energystoragepowerstation.$invalid" class="btn btn-primary" ng-click="ok();">{{'SETTING.COPY' | translate}}</button>
    </div>
</div>
