<div class="wrapper wrapper-content" ng-controller="HybridPowerStationMasterController">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">
				<uib-tabset>
					<uib-tab heading="{{'COMMON.HYBRID_POWER_STATION' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationController">
							<a ng-click="addHybridPowerStation()" class="btn btn-primary btn-rounded  btn-outline" href=""><i class="fa fa-plus-circle"></i> {{'SETTING.ADD_HYBRID_POWER_STATION' | translate}}</a>
							<a ng-click="importHybridPowerStation()" class="btn btn-primary btn-rounded  btn-outline" href=""><i class="fa fa-plus-circle"></i> {{'SETTING.IMPORT' | translate}}</a>
							<table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
								<thead>
									<tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'SETTING.NAME' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.ADDRESS' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.RATED_CAPACITY' | translate}}(kWh)</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.RATED_POWER' | translate}}(kW)</th>
										<th class="text-center">{{'SETTING.DESCRIPTION' | translate}} ({{'SETTING.OPTIONAL' | translate}})</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="hybridpowerstation in hybridpowerstations">
										<td class="text-center">{{ hybridpowerstation.id }}</td>
										<td class="text-center">{{ hybridpowerstation.name }}</td>
										<td class="text-center">{{ hybridpowerstation.address }}</td>
										<td class="text-center">{{ hybridpowerstation.rated_capacity }}</td>
										<td class="text-center">{{ hybridpowerstation.rated_power }}</td>
										<td class="text-center">{{ hybridpowerstation.description }}</td>
										<td class="text-center">
											<a ng-click="editHybridPowerStation(hybridpowerstation)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
											<a ng-click="deleteHybridPowerStation(hybridpowerstation)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
											<a ng-click="exportHybridPowerStation(hybridpowerstation)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.EXPORT' | translate}}</a>
											<a ng-click="cloneHybridPowerStation(hybridpowerstation)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.CLONE' | translate}}</a>
										</td>
									</tr>
								</tbody>
								<tfoot class="hide-if-no-paging">
									<tr>
										<td colspan="6">
											<ul class="pagination pull-right"></ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_GENERATOR' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationGeneratorController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  <div class="panel panel-primary">
								<div class="panel-heading">
								  {{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_GENERATOR' | translate}}
								</div>
								<div class="panel-body" >
								  <a ng-show="is_show_add_hybridpowerstation_generator" ng-click="addHybridPowerStationGenerator()" class="btn btn-primary btn-rounded  btn-outline" href="">
															<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_GENERATOR' | translate}}</a>
								  <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
									<thead>
									  <tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_GENERATOR_NAME' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									  </tr>
									</thead>
									<tbody>
									  <tr ng-repeat="hybridpowerstationgenerator in hybridpowerstationgenerators">
										<td class="text-center">{{ hybridpowerstationgenerator.id }}</td>
										<td class="text-center">{{ hybridpowerstationgenerator.name }}</td>
										<td class="text-center">
										  <a ng-click="editHybridPowerStationGenerator(hybridpowerstationgenerator)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
										  <a ng-click="bindHybridPowerStationGeneratorPoint(hybridpowerstationgenerator)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
										  <a ng-click="deleteHybridPowerStationGenerator(hybridpowerstationgenerator)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
										</td>
									  </tr>
									</tbody>
									<tfoot class="hide-if-no-paging">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								  </table>
							  </div>
							</div>
							</div>
						</div>
					  </div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_BMS' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationBMSController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  <div class="panel panel-primary">
								<div class="panel-heading">
								  {{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_BMS' | translate}}
								</div>
								<div class="panel-body" >
								  <a ng-show="is_show_add_hybridpowerstation_bms" ng-click="addHybridPowerStationBMS()" class="btn btn-primary btn-rounded  btn-outline" href="">
															<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_BMS' | translate}}</a>
								  <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
									<thead>
									  <tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_BMS_NAME' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.OPERATING_STATUS_POINT' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.SOC_POINT' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									  </tr>
									</thead>
									<tbody>
									  <tr ng-repeat="hybridpowerstationbms in hybridpowerstationbmses">
										<td class="text-center">{{ hybridpowerstationbms.id }}</td>
										<td class="text-center">{{ hybridpowerstationbms.name }}</td>
										<td class="text-center">{{ hybridpowerstationbms.operating_status_point.name }}</td>
										<td class="text-center">{{ hybridpowerstationbms.soc_point.name }}</td>
										<td class="text-center">
										  <a ng-click="editHybridPowerStationBMS(hybridpowerstationbms)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
										  <a ng-click="bindHybridPowerStationBMSPoint(hybridpowerstationbms)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
										  <a ng-click="deleteHybridPowerStationBMS(hybridpowerstationbms)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
										</td>
									  </tr>
									</tbody>
									<tfoot class="hide-if-no-paging">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								  </table>
							  </div>
							</div>
							</div>
						</div>
					  </div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_PCS' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationPCSController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  <div class="panel panel-primary">
								<div class="panel-heading">
								  {{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_PCS' | translate}}
								</div>
								<div class="panel-body" >
								  <a ng-show="is_show_add_hybridpowerstation_pcs" ng-click="addHybridPowerStationPCS()" class="btn btn-primary btn-rounded  btn-outline" href="">
									<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_PCS' | translate}}
								  </a>
								  <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
									<thead>
									  <tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_PCS' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.OPERATING_STATUS_POINT' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.CHARGE_METER' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.DISCHARGE_METER' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									  </tr>
									</thead>
									<tbody>
									  <tr ng-repeat="hybridpowerstationpcs in hybridpowerstationpcses">
										<td class="text-center">{{ hybridpowerstationpcs.id }}</td>
										<td class="text-center">{{ hybridpowerstationpcs.name }}</td>
										<td class="text-center">{{ hybridpowerstationpcs.operating_status_point.name }}</td>
										<td class="text-center">{{ hybridpowerstationpcs.charge_meter.name }}</td>
										<td class="text-center">{{ hybridpowerstationpcs.discharge_meter.name }}</td>
										<td class="text-center">
										  <a ng-click="editHybridPowerStationPCS(hybridpowerstationpcs)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
										  <a ng-click="bindHybridPowerStationPCSPoint(hybridpowerstationpcs)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
										  <a ng-click="deleteHybridPowerStationPCS(hybridpowerstationpcs)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
										</td>
									  </tr>
									</tbody>
									<tfoot class="hide-if-no-paging">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								  </table>
							  </div>
							</div>
							</div>
						</div>
					  </div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_CM' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationCMController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  <div class="panel panel-primary">
								<div class="panel-heading">
								  {{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_CM' | translate}}
								</div>
								<div class="panel-body" >
								  <a ng-show="is_show_add_hybridpowerstation_cm" ng-click="addHybridPowerStationCM()" class="btn btn-primary btn-rounded  btn-outline" href="">
															<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_CM' | translate}}</a>
								  <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
									<thead>
									  <tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_CM_NAME' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.OPERATING_STATUS_POINT' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.METER' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									  </tr>
									</thead>
									<tbody>
									  <tr ng-repeat="hybridpowerstationcm in hybridpowerstationcms">
										<td class="text-center">{{ hybridpowerstationcm.id }}</td>
										<td class="text-center">{{ hybridpowerstationcm.name }}</td>
										<td class="text-center">{{ hybridpowerstationcm.operating_status_point.name }}</td>
										<td class="text-center">{{ hybridpowerstationcm.meter.name }}</td>
										<td class="text-center">
										  <a ng-click="editHybridPowerStationCM(hybridpowerstationcm)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
										  <a ng-click="bindHybridPowerStationCMPoint(hybridpowerstationcm)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
										  <a ng-click="deleteHybridPowerStationCM(hybridpowerstationcm)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
										</td>
									  </tr>
									</tbody>
									<tfoot class="hide-if-no-paging">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								  </table>
							  </div>
							</div>
							</div>
						</div>
					  </div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_LOAD' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationLoadController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  	<div class="panel panel-primary">
									<div class="panel-heading">
										{{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_LOAD' | translate}}
									</div>
									<div class="panel-body" >
										<a ng-show="is_show_add_hybridpowerstation_load" ng-click="addHybridPowerStationLoad()" class="btn btn-primary btn-rounded  btn-outline" href="">
																	<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_LOAD' | translate}}
										</a>
										<table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
											<thead>
											<tr>
												<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
												<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_LOAD_NAME' | translate}}</th>
												<th class="text-center">{{'HYBRID_POWER_STATION.METER' | translate}}</th>
												<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="hybridpowerstationload in hybridpowerstationloads">
												<td class="text-center">{{ hybridpowerstationload.id }}</td>
												<td class="text-center">{{ hybridpowerstationload.name }}</td>
												<td class="text-center">{{ hybridpowerstationload.meter.name }}</td>
												<td class="text-center">
												<a ng-click="editHybridPowerStationLoad(hybridpowerstationload)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
												<a ng-click="bindHybridPowerStationLoadPoint(hybridpowerstationload)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
												<a ng-click="deleteHybridPowerStationLoad(hybridpowerstationload)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
												</td>
											</tr>
											</tbody>
											<tfoot class="hide-if-no-paging">
												<tr>
													<td colspan="6">
														<ul class="pagination pull-right"></ul>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
							  	</div>
							</div>
						  </div>
					  	</div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_PV' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationPVController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  <div class="panel panel-primary">
								<div class="panel-heading">
								  {{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_PV' | translate}}
								</div>
								<div class="panel-body" >
								  <a ng-show="is_show_add_hybridpowerstation_pv" ng-click="addHybridPowerStationPV()" class="btn btn-primary btn-rounded  btn-outline" href="">
															<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_PV' | translate}}</a>
								  <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
									<thead>
									  <tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_PV_NAME' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.OPERATING_STATUS_POINT' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.METER' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									  </tr>
									</thead>
									<tbody>
									  <tr ng-repeat="hybridpowerstationpv in hybridpowerstationpvs">
										<td class="text-center">{{ hybridpowerstationpv.id }}</td>
										<td class="text-center">{{ hybridpowerstationpv.name }}</td>
										<td class="text-center">{{ hybridpowerstationpv.operating_status_point.name }}</td>
										<td class="text-center">{{ hybridpowerstationpv.meter.name }}</td>
										<td class="text-center">
										  <a ng-click="editHybridPowerStationPV(hybridpowerstationpv)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
										  <a ng-click="bindHybridPowerStationPVPoint(hybridpowerstationpv)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
										  <a ng-click="deleteHybridPowerStationPV(hybridpowerstationpv)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
										</td>
									  </tr>
									</tbody>
									<tfoot class="hide-if-no-paging">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								  </table>
							  </div>
							</div>
							</div>
						</div>
					  </div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_MCU' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationMCUController">
						  <div class="row">
							<div class="col-lg-3">
							  <div class="panel panel-info">
								<div class="panel-heading">
								  {{'COMMON.HYBRID_POWER_STATION' | translate}}
								</div>
								<div class="panel-body" >
								  <form role="form">
									<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
									  <ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
										<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search" >
										  <div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
										</ui-select-choices>
									  </ui-select>
									</div>
								  </form>
								</div>
							  </div>
							</div>
							<div class="col-lg-9">
							  <div class="panel panel-primary">
								<div class="panel-heading">
								  {{currentHybridPowerStation.name}}{{'HYBRID_POWER_STATION.N_S_HYBRID_POWER_STATION_MCU' | translate}}
								</div>
								<div class="panel-body" >
								  <a ng-show="is_show_add_hybridpowerstation_mcu" ng-click="addHybridPowerStationMCU()" class="btn btn-primary btn-rounded  btn-outline" href="">
															<i class="fa fa-plus-circle"></i> {{'HYBRID_POWER_STATION.ADD_HYBRID_POWER_STATION_MCU' | translate}}</a>
								  <table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
									<thead>
									  <tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_MCU_NAME' | translate}}</th>
										<th class="text-center">{{'HYBRID_POWER_STATION.OPERATING_STATUS_POINT' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									  </tr>
									</thead>
									<tbody>
									  <tr ng-repeat="hybridpowerstationmcu in hybridpowerstationmcus">
										<td class="text-center">{{ hybridpowerstationmcu.id }}</td>
										<td class="text-center">{{ hybridpowerstationmcu.name }}</td>
										<td class="text-center">{{ hybridpowerstationmcu.operating_status_point.name }}</td>
										<td class="text-center">
										  <a ng-click="editHybridPowerStationMCU(hybridpowerstationmcu)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
										  <a ng-click="bindHybridPowerStationMCUPoint(hybridpowerstationmcu)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.BIND_POINT' | translate}}</a>
										  <a ng-click="deleteHybridPowerStationMCU(hybridpowerstationmcu)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
										</td>
									  </tr>
									</tbody>
									<tfoot class="hide-if-no-paging">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
								  </table>
							  </div>
							</div>
							</div>
						</div>
					  </div>
					</uib-tab>
					<uib-tab heading="{{'SETTING.BIND_COMMAND' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationCommandController">
							<div class="row">
								<div class="col-lg-3">
									<div class="panel panel-info">
										<div class="panel-heading">
											{{'COMMON.HYBRID_POWER_STATION' | translate}}
										</div>
										<div class="panel-body" slim-scroll box-height="600px">
											<form role="form">
												<div class="form-group no-margin">
													<label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
													<ui-select on-select="changeHybridPowerStation($item,$model)"
														ng-model="currentHybridPowerStation.selected" theme="bootstrap">
														<ui-select-match
															placeholder="{{'COMMON.PLACEHOLDER' | translate}}">
															{{$select.selected.name}}</ui-select-match>
														<ui-select-choices
															repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search">
															<div ng-bind-html="hybridpowerstation.name | highlight: $select.search">
															</div>
														</ui-select-choices>
													</ui-select>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="panel panel-primary">
										<div class="panel-heading">
											{{'SETTING.N_S_COMMAND' | translate}}
										</div>
										<div class="panel-body maxheight"
											x-hjc-drop-target="true"
											x-on-drop="pairCommand(dragEl,dropEl)"
											uib-tooltip="{{'SETTING.DRAG_TO_UNBIND' | translate}}">
											<div class="btn btn-primary btn-rounded btn-block"
												ng-repeat="hybridpowerstationcommand in hybridpowerstationcommands" x-hjc-draggable="true"
												title="{{hybridpowerstationcommand.name}}">
												{{hybridpowerstationcommand.name}}</div>
										</div>
									</div>
									<div class="panel panel-danger">
										<div class="panel-heading">
											{{'SETTING.TRASH' | translate}}
										</div>
										<div class="panel-body trash">
											<img class="trashcan" src="img/trashcan.png" x-hjc-drop-target="true"
												x-on-drop="deleteCommandPair(dragEl,dropEl)">
										</div>

									</div>
								</div>

								<div class="col-lg-4">
									<!-- according panel-->
									<div class="panel panel-primary">
										<div class="panel-heading">
											{{'SETTING.COMMAND_LIST' | translate}}
										</div>
										<div class="panel-body" uib-tooltip="{{'SETTING.DRAG_TO_BIND' | translate}}"
											slim-scroll box-height="765px">
											<div class="source btn btn-primary btn-rounded btn-block"
												ng-repeat="command in commands" x-hjc-draggable="true">
												{{command.name}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="{{'HYBRID_POWER_STATION.BIND_USER' | translate}}">
						<div class="panel-body" ng-controller="HybridPowerStationUserController">
							<div class="row">
								<div class="col-lg-3">
									<div class="panel panel-info">
										<div class="panel-heading">
											{{'COMMON.HYBRID_POWER_STATION' | translate}}
										</div>
										<div class="panel-body">
												<form role="form">
												<div class="form-group no-margin"><label>{{'SETTING.SELECT_HYBRID_POWER_STATION' | translate}}</label>
													<ui-select  on-select="changeHybridPowerStation($item,$model)" ng-model="currentHybridPowerStation.selected" theme="bootstrap">
														<ui-select-match placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
														<ui-select-choices repeat="hybridpowerstation.id as hybridpowerstation in hybridpowerstations | filter: $select.search">
															<div ng-bind-html="hybridpowerstation.name | highlight: $select.search"></div>
														</ui-select-choices>
													</ui-select>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="panel panel-primary">
										<div class="panel-heading">
											{{currentHybridPowerStation.name}}{{'SETTING.N_S_USER' | translate}}
										</div>
										<div class="panel-body"
											x-hjc-drop-target="true"
											x-on-drop="pairUser(dragEl,dropEl)"
											uib-tooltip="{{'SETTING.DRAG_TO_UNBIND' | translate}}" >

											<div class="btn btn-primary btn-rounded btn-block"
												title="{{'COMMON.HYBRID_POWER_STATION' | translate}}:{{hybridpowerstationusers.data_source.name}}"
												ng-repeat="hybridpowerstationuser in hybridpowerstationusers"
												x-hjc-draggable="true"> {{hybridpowerstationuser.name}}
										</div>
									</div>
								</div>
								<div class="panel panel-danger">
									<div class="panel-heading">
										{{'SETTING.TRASH' | translate}}
									</div>
									<div class="panel-body trash" >
										<img class="trashcan"
										src="img/trashcan.png"
										x-hjc-drop-target="true"
										x-on-drop="deleteUserPair(dragEl,dropEl)">
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="panel panel-info">
									<div class="panel-heading">
										{{'USER.SELECT_USER' | translate}}
									</div>
									<div class="panel-body" slim-scroll box-height="765px"
									uib-tooltip="{{'SETTING.DRAG_TO_BIND' | translate}}">
										<h5>{{'USER.USER_LIST' | translate}}</h5>
										<div class="source btn btn-info btn-rounded btn-block"
										ng-repeat="user in users"
										x-hjc-draggable="true"> {{user.name}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>
