<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{hybridpowerstationload.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_hybridpowerstationload" novalidate class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'HYBRID_POWER_STATION.HYBRID_POWER_STATION_LOAD_NAME' | translate}}</label>
                <div class="col-sm-7">
                    <input ng-model="hybridpowerstationload.name" type="text" name="hybridpowerstationloadname" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_hybridpowerstationload.hybridpowerstationloadname.$invalid && form_hybridpowerstationload.hybridpowerstationloadname.$dirty">
                        <small class="text-danger" ng-show="form_hybridpowerstationload.hybridpowerstationloadname.$error.required">{{'HYBRID_POWER_STATION.INPUT_NAME' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'HYBRID_POWER_STATION.METER' | translate}}</label>
                <div class="col-sm-7">
                    <ui-select ng-model="hybridpowerstationload.meter.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="meter.id as meter in meters | filter: $select.search">
                            <div ng-bind-html="meter.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_hybridpowerstationload.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
