<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">
				<uib-tabset>
					<uib-tab heading="{{'KNOWLEDGEFILE.KNOWLEDGE_FILE_LIST' | translate}}">
						<div class="panel-body" ng-controller="KnowledgeFileController">
							<div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
							<table class="table table-bordered table-hover" data-empty="There is no data" >
								<thead>
									<tr>
										<th class="text-center">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'SETTING.NAME' | translate}}</th>
										<th class="text-center">{{'KNOWLEDGEFILE.UPLOAD_USER' | translate}}</th>
										<th class="text-center">{{'KNOWLEDGEFILE.UPLOAD_TIME' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="knowledgefile in knowledgefiles">
										<td class="text-center">{{ knowledgefile.id }}</td>
										<td class="text-center"><a ng-href="./upload/{{knowledgefile.uuid}}" download="{{knowledgefile.file_name}}">{{ knowledgefile.file_name }}</a></td>
										<td class="text-center">{{ knowledgefile.user_display_name }}</td>
										<td class="text-center">{{ knowledgefile.upload_datetime }}</td>
										<td class="text-center">
											<a ng-click="restoreKnowledgeFile(knowledgefile)"
												class="btn btn-danger btn-rounded btn-xs">{{'SETTING.RESTORE' | translate}}</a>
											<a ng-click="deleteKnowledgeFile(knowledgefile)"
												class="btn btn-danger btn-rounded btn-xs">{{'KNOWLEDGEFILE.DELETE' | translate}}</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>