<!-- Knowledge File settings page -->
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">
				<uib-tabset>
					<!-- Tab: Knowledge File List -->
					<uib-tab heading="{{'KNOWLEDGEFILE.KNOWLEDGE_FILE_LIST' | translate}}">
						<div class="panel-body" ng-controller="KnowledgeFileController">
							<!-- Collapsible description panel -->
							<div class="alert alert-info">
								<p>
									{{'SETTING.KNOWLEDGE_FILE_DESCRIPTION' | translate}}
									<a ng-click="isCollapsed = !isCollapsed" class="pull-right">
										{{(isCollapsed ? 'COMMON.COLLAPSE' : 'COMMON.CLICK_TO_EXPAND_FOR_MORE_DESCRIPTION') | translate}}
									</a>
								</p>
								<div uib-collapse="!isCollapsed">
									<hr>
									<p>{{'SETTING.KNOWLEDGE_FILE_DESCRIPTION_MORE' | translate}}</p>
								</div>
							</div>
							<div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
							<!-- Knowledge File list table -->
							<table class="footable table table-bordered table-hover" data-empty="There is no data" data-sort="true" data-page-size="15">
								<thead>
									<tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'SETTING.NAME' | translate}}</th>
										<th class="text-center">{{'KNOWLEDGEFILE.UPLOAD_USER' | translate}}</th>
										<th class="text-center">{{'KNOWLEDGEFILE.UPLOAD_TIME' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="knowledgefile in knowledgefiles">
										<td class="text-center">{{ knowledgefile.id }}</td>
										<td class="text-center"><a ng-href="./upload/{{knowledgefile.uuid}}" download="{{knowledgefile.file_name}}">{{ knowledgefile.file_name }}</a></td>
										<td class="text-center">{{ knowledgefile.user_display_name }}</td>
										<td class="text-center">{{ knowledgefile.upload_datetime }}</td>
										<td class="text-center">
											<a ng-click="restoreKnowledgeFile(knowledgefile)"
												class="btn btn-danger btn-rounded btn-xs">{{'SETTING.RESTORE' | translate}}</a>
											<a ng-click="deleteKnowledgeFile(knowledgefile)"
												class="btn btn-danger btn-rounded btn-xs">{{'KNOWLEDGEFILE.DELETE' | translate}}</a>
										</td>
									</tr>
								</tbody>
								<tfoot class="hide-if-no-paging">
									<tr>
										<td colspan="6">
											<ul class="pagination pull-right"></ul>
										</td>
									</tr>
								</tfoot>
							</table>

							<!-- About section -->
							<div class="row" style="margin-top:32px;">
								<!-- Left column: About + Support (2 panels) -->
								<div class="col-md-8">
									<div class="panel panel-primary">
										<div class="panel-heading">
											About MyEMS
										</div>
										<div class="panel-body" style="font-size:16px;">
											<p class="m-b-none">MyEMS 是一款开源的能源管理系统，由<strong>北京海识软件有限公司</strong>（<a href="https://hassoft.cn" target="_blank" style="color:#1ab394;">hassoft.cn</a>）开发。</p>
											<p>官网：<a href="https://myems.cn" target="_blank" style="color:#1ab394;">https://myems.cn</a></p>

											<div class="row m-t-sm">
												<div class="col-sm-4"><strong>源代码：</strong></div>
												<div class="col-sm-8"><a href="https://gitee.com/myems/myems" target="_blank" style="color:#1ab394;">https://gitee.com/myems/myems</a></div>

												<div class="col-sm-4"><strong>安装文档：</strong></div>
												<div class="col-sm-8"><a href="https://myems.cn/docs/category/installation" target="_blank" style="color:#1ab394;">Installation Guide</a></div>

												<div class="col-sm-4"><strong>管理员使用说明：</strong></div>
												<div class="col-sm-8"><a href="https://myems.cn/docs/tutorial/admin-guide" target="_blank" style="color:#1ab394;">Admin Guide</a></div>

												<div class="col-sm-4"><strong>视频教程：</strong></div>
												<div class="col-sm-8"><a href="https://space.bilibili.com/539108162" target="_blank" style="color:#1ab394;">哔哩哔哩 (Bilibili)</a></div>

												<div class="col-sm-4"><strong>Modbus TCP 配置：</strong></div>
												<div class="col-sm-8"><a href="https://mp.weixin.qq.com/s/xqkq1_sS90AvuVX07kzE8A" target="_blank" style="color:#1ab394;">微信公众号文章</a></div>
											</div>
										</div>
									</div>

									<div class="panel panel-success">
										<div class="panel-heading">
											技术支持 &amp; 社区
										</div>
										<div class="panel-body" style="font-size:16px;">
											<p class="m-b-none">
												<strong>开源社区版</strong>提供免费技术支持：
											</p>
											<ul>
												<li>QQ群：<strong>792528967</strong>（工作日 9:00-18:00 专人值班）</li>
												<li>免费微信群 — 关注微信朋友圈获取入群方法</li>
											</ul>
											<hr style="margin:12px 0;">
											<p>
												<span class="badge" style="background-color:#a0522d;color:#fff;padding:3px 12px;">知识星球</span>
												<strong>MyEMS 开源能源管理系统</strong>
											</p>
											<ul>
												<li>下载能源管理方案资料</li>
												<li>提问获得<span style="color:#e74c3c;">优先解答</span></li>
											</ul>
											<a href="https://t.zsxq.com/blbKD" target="_blank" class="btn btn-sm btn-warning">立即加入 &rarr;</a>
										</div>
									</div>
								</div>

								<!-- Right column: QR codes (1 panel) -->
								<div class="col-md-4">
									<div class="panel panel-primary" style="height:100%;">
										<div class="panel-heading">
											扫码关注
										</div>
										<div class="panel-body" style="padding:20px 16px;">
											<!-- 微信公众号 -->
											<div class="text-center m-b-lg">
												<p style="font-size:15px;color:#476b88;margin-bottom:8px;">微信公众号</p>
												<img src="../../../../img/qr_code_mp_weixin.png" class="img-thumbnail" style="width:128px;height:128px;" alt="微信公众号">
												<p style="font-size:13px;color:#617a8b;margin-top:6px;">开源能源管理系统</p>
											</div>

											<hr>

											<!-- 微信 -->
											<div class="text-center m-b-lg">
												<p style="font-size:15px;color:#476b88;margin-bottom:8px;">微信</p>
												<img src="../../../../img/qr_code_wechat.png" class="img-thumbnail" style="width:128px;height:128px;" alt="微信">
												<p style="font-size:13px;color:#617a8b;margin-top:6px;">13011132526</p>
											</div>

											<hr>

											<!-- 飞书 -->
											<div class="text-center m-b-md">
												<p style="font-size:15px;color:#476b88;margin-bottom:8px;">飞书</p>
												<img src="../../../../img/qr_code_feishu.png" class="img-thumbnail" style="width:128px;height:128px;" alt="飞书">
												<p style="font-size:13px;color:#617a8b;margin-top:6px;">13011132526</p>
											</div>

											<hr>

											<!-- 视频号 -->
											<div class="text-center">
												<p style="font-size:14px;color:#476b88;">视频号：MyEMS 开源能源管理系统</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>
