<!-- Modal dialog for Gateway add/edit -->
<div class="inmodal">
    <!-- Modal header -->
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{gateway.id}})</h4>
    </div>
    <div class="modal-body">
        <!-- Collapsible description panel -->
        <div class="alert alert-info">
            <p>
                {{'SETTING.GATEWAY_DIALOG_DESCRIPTION' | translate}}
                <a ng-click="isModelCollapsed = !isModelCollapsed" class="pull-right">
                    {{(isModelCollapsed ? 'COMMON.COLLAPSE' : 'COMMON.CLICK_TO_EXPAND_FOR_MORE_DESCRIPTION') | translate}}
                </a>
            </p>
            <div uib-collapse="!isModelCollapsed">
                <hr>
                <p>{{'SETTING.GATEWAY_DIALOG_DESCRIPTION_MORE' | translate}}</p>
            </div>
        </div>
        <!-- Gateway form fields -->
        <form role="form" name="form_gateway" novalidate class="form-horizontal">
            <div class="form-group"><label class="col-sm-4 control-label">{{'SETTING.NAME' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-8">
                    <input ng-model="gateway.name" type="text" name="gatewayname" class="form-control" required="" placeholder="{{'SETTING.INPUT_GATEWAY_NAME_PLACEHOLDER' | translate}}">
                    <div class="m-t-xs" ng-show="form_gateway.gatewayname.$invalid && form_gateway.gatewayname.$dirty">
                        <small class="text-danger" ng-show="form_gateway.gatewayname.$error.required">{{'SETTING.INPUT_NAME' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-4 control-label">{{'SETTING.DESCRIPTION' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>

                <div class="col-sm-8">
                    <input ng-model="gateway.description" type="text" name="gatewaydescription" class="form-control" placeholder="{{'SETTING.ENTER_DESCRIPTION' | translate}}">
                </div>
              </div>
        </form>
    </div>
    <!-- Modal action buttons -->
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_gateway.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
