<div class="wrapper wrapper-content" ng-controller="GatewayMasterController">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">

				<uib-tabset>
					<uib-tab heading="{{'GATEWAY.GATEWAY' | translate}}" >
						<div class="panel-body" ng-controller="GatewayController">
                                                        <div class="col-md-3">
							    <a ng-click="addGateway()" class="btn btn-primary btn-rounded btn-outline" href=""><i class="fa fa-plus-circle"></i> {{'GATEWAY.ADD_GATEWAY' | translate}}</a>
							    <a ng-click="importGateway()" class="btn btn-primary btn-rounded  btn-outline" href=""><i class="fa fa-plus-circle"></i> {{'SETTING.IMPORT' | translate}}</a>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control m-b-xs"
                                                                placeholder="{{'SETTING.SEARCH' | translate}}"
                                                                ng-model="searchKeyword"
                                                                ng-keyup="searchGateways()">
                                                        </div>
							<br>
							<br>
							<table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
								<thead>
									<tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'SETTING.NAME' | translate}}</th>
										<th class="text-center">{{'GATEWAY.TOKEN' | translate}}</th>
										<th class="text-center">{{'GATEWAY.LAST_SEEN_DATETIME' | translate}}</th>
										<th class="text-center">{{'SETTING.DESCRIPTION' | translate}} ({{'SETTING.OPTIONAL' | translate}})</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="gateway in gateways">
										<td class="text-center">{{ gateway.id }}</td>
										<td class="text-center">{{ gateway.name }}</td>
                                        <td class="text-center" style="max-width: 400px; word-wrap: break-word;">
                                            {{ gateway.token }}
                                            <button class="btn btn-primary btn-rounded btn-xs" ng-click="copyToClipboardGateway(gateway)">{{'SETTING.COPY' | translate}}</button>
                                        </td>
										<td class="text-center">{{ gateway.last_seen_datetime }}</td>
										<td class="text-center">{{ gateway.description}}</td>
										<td class="text-center">
											<a class="btn btn-primary btn-rounded btn-xs" ng-click="editGateway(gateway)" >{{'SETTING.EDIT' | translate}}</a>
											<a ng-click="deleteGateway(gateway)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
											<a ng-click="exportGateway(gateway)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.EXPORT' | translate}}</a>
											<a ng-click="cloneGateway(gateway)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.CLONE' | translate}}</a>
										</td>
									</tr>
								</tbody>
								<tfoot class="hide-if-no-paging">
									<tr>
										<td colspan="6">
											<ul class="pagination pull-right"></ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>
