.directive {
  height: 400px;
}

.iui-treeview-item-content {
  padding: 4px;
}
.iui-checkbox-box {
  border: 0;
  width: 16px;
  height: 16px;
}
.iui-checkbox-checked {
  background-image: url("../../img/tree-icon/checkbox-checked.png");
}
.iui-checkbox-unchecked {
  background-image: url("../../img/tree-icon/checkbox-unchecked.png");
}
.iui-checkbox-indeterminate {
  background-image: url("../../img/tree-icon/checkbox-indeterminate.png");
}

.icons {
  background-image: url(../../img/tree-icon/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 1px 0 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.empty {
  background-position: 0px 0px;
}
.document {
  background-position: -64px -48px;
}
.health {
  background-position: -128px -48px;
}
.business {
  background-position: -192px -48px;
}
.science {
  background-position: 0 -64px;
}
.books {
  background-position: -16px -64px;
}
.music {
  background-position: -32px -64px;
}
.time {
  background-position: -48px -64px;
}
.app {
  background-position: -80px -64px;
}
.chart {
  background-position: -96px -64px;
}
.exclamation {
  background-position: 0px -32px;
}
.question {
  background-position: -16px -32px;
}
.check {
  background-position: -32px -32px;
}
.up {
  background-position: -64px -32px;
}
.down {
  background-position: -80px -32px;
}
.home {
  background-position: -192px -64px;
}
.icons-medium {
  background-image: url(../../img/tree-icon/icons-x24.png);
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 1px 0 5px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.solution {
  background-position: 0 -24px;
}
.documents {
  background-position: -24px -24px;
}
.references {
  background-position: -48px -24px;
}
.notes {
  background-position: -72px -24px;
}
.assembly {
  background-position: -96px -24px;
}
.resources {
  background-position: -120px -24px;
}
.properties {
  background-position: -144px -24px;
}
.new {
  background-position: -168px -24px;
}
.form {
  background-position: 0 -48px;
}
.empty-doc {
  background-position: -24px -48px;
}
.library {
  background-position: 0 -72px;
}
.economics {
  background-position: -24px -72px;
}
.software {
  background-position: -48px -72px;
}
.clock {
  background-position: -72px -72px;
}
.sports {
  background-position: -96px -72px;
}
.people {
  background-position: -120px -72px;
}
.star {
  background-position: -144px -72px;
}
.heart {
  background-position: -168px -72px;
}
.album {
  background-position: -144px -48px;
}
.camera {
  background-position: -168px -48px;
}
.folder {
  background-position: -24px 0px;
}
.file {
  background-position: -24px -48px;
}
.downloads {
  background-position: -48px 0px;
}
.favorites {
  background-position: -72px 0px;
}
.documents {
  background-position: -96px 0px;
}
.pc {
  background-position: -120px 0px;
}
.videos {
  background-position: -144px 0px;
}
.music-note {
  background-position: -168px 0px;
}
.network {
  background-position: -48px -48px;
}
.recycle {
  background-position: -72px -48px;
}
.picture {
  background-position: -96px -48px;
}
.disk {
  background-position: -120px -48px;
}
.speed {
  background-position: -192px 0px;
}
.transfer {
  background-position: -192px -24px;
}
.airplane {
  background-position: -192px -48px;
}
.new-document {
  background-position: 0 -96px;
}
.delete-document {
  background-position: -24px -96px;
}
.copy {
  background-position: -48px -96px;
}
.save {
  background-position: -72px -96px;
}
.print {
  background-position: -96px -96px;
}
.zoom {
  background-position: -120px -96px;
}
.zoom-in {
  background-position: -144px -96px;
}
.zoom-out {
  background-position: -168px -96px;
}
.facebook {
  background-position: -216px 0;
}
.twitter {
  background-position: -216px -24px;
}
.google-plus {
  background-position: -216px -48px;
}
.star-empty {
  background-position: -216px -72px;
}
