<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{energystoragecontainerload.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_energystoragecontainerload" novalidate class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ENERGY_STORAGE_CONTAINER_LOAD_NAME' | translate}}</label>
                <div class="col-sm-7"><input ng-model="energystoragecontainerload.name" type="text" name="energystoragecontainerloadname" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_energystoragecontainerload.energystoragecontainerloadname.$invalid && form_energystoragecontainerload.energystoragecontainerloadname.$dirty">
                        <small class="text-danger" ng-show="form_energystoragecontainerload.energystoragecontainerloadname.$error.required">{{'ENERGY_STORAGE_CONTAINER.INPUT_ENERGY_STORAGE_CONTAINER_LOAD_NAME' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.POWER_POINT' | translate}}</label>
                <div class="col-sm-7">
                    <ui-select ng-model="energystoragecontainerload.power_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.METER' | translate}}</label>
                <div class="col-sm-7">
                    <ui-select ng-model="energystoragecontainerload.meter.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="meter.id as meter in meters | filter: $select.search">
                            <div ng-bind-html="meter.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.RATED_INPUT_POWER' | translate}}(kW)</label>
                <div class="col-sm-7"><input ng-model="energystoragecontainerload.rated_input_power" type="number" name="energystoragecontainerloadrated_input_power" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_energystoragecontainerload.energystoragecontainerloadrated_input_power.$invalid && form_energystoragecontainerload.energystoragecontainerloadrated_input_power.$dirty">
                        <small class="text-danger" ng-show="form_energystoragecontainerload.energystoragecontainerloadrated_input_power.$error.required">{{'ENERGY_STORAGE_CONTAINER.INPUT_CAPACITY' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.TOTAL_ACTIVE_POWER_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.total_active_power_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ACTIVE_POWER_A_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.active_power_a_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ACTIVE_POWER_B_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.active_power_b_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ACTIVE_POWER_C_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.active_power_c_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.TOTAL_REACTIVE_POWER_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.total_reactive_power_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.REACTIVE_POWER_A_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.reactive_power_a_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.REACTIVE_POWER_B_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.reactive_power_b_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.REACTIVE_POWER_C_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.reactive_power_c_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.TOTAL_APPARENT_POWER_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.total_apparent_power_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.APPARENT_POWER_A_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.apparent_power_a_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.APPARENT_POWER_B_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.apparent_power_b_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.APPARENT_POWER_C_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.apparent_power_c_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.TOTAL_POWER_FACTOR_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.total_power_factor_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ACTIVE_ENERGY_IMPORT_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.active_energy_import_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ACTIVE_ENERGY_EXPORT_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.active_energy_export_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">{{'ENERGY_STORAGE_CONTAINER.ACTIVE_ENERGY_NET_POINT' | translate}} ({{'SETTING.OPTIONAL' | translate}})</label>
                <div class="col-sm-7">
                    <ui-select ng-model="form_energystoragecontainerload.active_energy_net_point.id" theme="bootstrap">
                        <ui-select-match allow-clear="true" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_energystoragecontainerload.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
