[Unit]
Description=myems-s7 daemon
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/python /myems-s7/main.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
