@import url('../fonts/fonts-swap.css');
@import '../../../node_modules/bootstrap/scss/functions';
@import 'theme/functions';
@import 'user-variables';
@import 'theme/variables';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

/*-----------------------------------------------
|   Theme Styles
-----------------------------------------------*/
@import 'theme/theme';

/*-----------------------------------------------
|   User Styles
-----------------------------------------------*/
@import 'user';
