<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">
				<uib-tabset>
					<uib-tab heading="{{'FDD.RULE_LIST' | translate}}" >
						<div class="panel-body" ng-controller="RuleController">
							<a ng-click="addRule()" class="btn btn-primary btn-rounded btn-outline" href=""><i class="fa fa-plus-circle"></i> {{'FDD.ADD_RULE' | translate}}</a>
							<a ng-click="importRule()" class="btn btn-primary btn-rounded  btn-outline" href=""><i class="fa fa-plus-circle"></i> {{'SETTING.IMPORT' | translate}}</a>
							<table class="footable table table-bordered table-hover" data-sort="true" data-page-size="15">
								<thead>
									<tr>
										<th class="text-center" data-type="numeric">{{'SETTING.ID' | translate}}</th>
										<th class="text-center">{{'SETTING.NAME' | translate}}</th>
										<th class="text-center">{{'FDD.CATEGORY' | translate}}</th>
										<th class="text-center">{{'FDD.FDD_CODE' | translate}}</th>
										<th class="text-center">{{'FDD.PRIORITY' | translate}}</th>
										<th class="text-center">{{'FDD.CHANNEL' | translate}}</th>
										<th class="text-center">{{'FDD.IS_ENABLED' | translate}}</th>
										<th class="text-center">{{'FDD.LAST_RUN_DATETIME' | translate}}</th>
										<th class="text-center">{{'FDD.NEXT_RUN_DATETIME' | translate}}</th>
										<th class="text-center">{{'FDD.IS_RUN_IMMEDIATELY' | translate}}</th>
										<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="rule in rules">
										<td class="text-center">{{ rule.id }}</td>
										<td class="text-center">{{ rule.name }}</td>
										<td class="text-center">{{ rule.category }}</td>
										<td class="text-center">{{ rule.fdd_code }}</td>
										<td class="text-center">{{ rule.priority }}</td>
										<td class="text-center">{{ rule.channel }}</td>
										<td class="text-center">{{ rule.is_enabled==true?'SETTING.ON':'SETTING.OFF' | translate}}</td>
                                        <td class="text-center">{{ rule.last_run_datetime }}</td>
                                        <td class="text-center">{{ rule.next_run_datetime }}</td>
										<td class="text-center"> {{'FDD.CLICK_EDIT_FOR_DETAILS' | translate}} </td>
										<td class="text-center"> {{'FDD.CLICK_EDIT_FOR_DETAILS' | translate}} </td>
										<td class="text-center">{{ rule.is_run_immediately==true?'SETTING.ON':'SETTING.OFF' | translate}}</td>
										<td class="text-center">
											<a ng-click="editRule(rule)" class="btn btn-primary btn-rounded btn-xs" >{{'SETTING.EDIT' | translate}}</a>
											<a ng-click="deleteRule(rule)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
											<a ng-click="exportRule(rule)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.EXPORT' | translate}}</a>
											<a ng-click="cloneRule(rule)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.CLONE' | translate}}</a>
											<a ng-click="runRule(rule)" class="btn btn-danger btn-rounded btn-xs" >{{'FDD.IS_RUN_IMMEDIATELY' | translate}}</a>
										</td>
									</tr>
								</tbody>
								<tfoot class="hide-if-no-paging">
									<tr>
										<td colspan="6">
											<ul class="pagination pull-right"></ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>
