<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{rule.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_rule" novalidate class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label">{{'SETTING.NAME' | translate}}<span class="text-danger">*</span></label>

                <div class="col-sm-10"><input ng-model="rule.name" type="text" name="rulename" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_rule.rulename.$invalid && form_rule.rulename.$dirty">
                        <small class="text-danger" ng-show="form_rule.rulename.$error.required">{{'SETTING.INPUT_NAME' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.CATEGORY' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <select  name="category"  ng-model="rule.category" ng-change="updateFddCodeOptions()" class="form-control m-b">
                                <option value="SYSTEM">SYSTEM</option>
                                <option value="SPACE">SPACE</option>
                                <option value="METER">METER</option>
                                <option value="POINT">POINT</option>
                                <option value="TENANT">TENANT</option>
                                <option value="STORE">STORE</option>
                                <option value="SHOPFLOOR">SHOPFLOOR</option>
                                <option value="EQUIPMENT">EQUIPMENT</option>
                                <option value="COMBINEDEQUIPMENT">COMBINEDEQUIPMENT</option>
                                <option value="VIRTUALMETER">VIRTUALMETER</option>
                            </select>
                    <div class="m-t-xs" ng-show="form_rule.category.$invalid && form_rule.category.$dirty">
                        <small class="text-danger" ng-show="form_rule.category.$error.required">-</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.FDD_CODE' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <select  name="fdd_code"  ng-model="rule.fdd_code" class="form-control m-b" ng-options="option for option in fddCodeOptions"></select>
                    <div class="m-t-xs" ng-show="form_rule.fdd_code.$invalid && form_rule.fdd_code.$dirty">
                        <small class="text-danger" ng-show="form_rule.fdd_code.$error.required">-</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.PRIORITY' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <select  name="priority"  ng-model="rule.priority" class="form-control m-b">
                                <option value="CRITICAL">CRITICAL</option>
                                <option value="HIGH">HIGH</option>
                                <option value="MEDIUM">MEDIUM</option>
                                <option value="LOW">LOW</option>
                            </select>
                    <div class="m-t-xs" ng-show="form_rule.priority.$invalid && form_rule.priority.$dirty">
                        <small class="text-danger" ng-show="form_rule.priority.$error.required">-</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.CHANNEL' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                    <select  name="channel"  ng-model="rule.channel" class="form-control m-b">
                                <option value="WEB">WEB</option>
                                <option value="SMS">SMS</option>
                                <option value="EMAIL">EMAIL</option>
                                <option value="WECHAT">WECHAT</option>
                                <option value="CALL">CALL</option>
                            </select>
                    <div class="m-t-xs" ng-show="form_rule.channel.$invalid && form_rule.channel.$dirty">
                        <small class="text-danger" ng-show="form_rule.channel.$error.required">-</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.EXPRESSION' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-10"><textarea rows="4" ng-model="rule.expression" type="text" name="ruleexpression" class="form-control" required=""></textarea>
                    <div class="m-t-xs" ng-show="form_rule.ruleexpression.$invalid && form_rule.ruleexpression.$dirty">
                        <small class="text-danger" ng-show="form_rule.ruleexpression.$error.required">{{'SETTING.NOT_NULLABLE' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.MESSAGE_TEMPLATE' | translate}}<span class="text-danger">*</span></label>

                <div class="col-sm-10"><textarea rows="2" ng-model="rule.message_template" type="text" name="rulemessagetemplate" class="form-control" required=""></textarea>
                    <div class="m-t-xs" ng-show="form_rule.message_template.$invalid && form_rule.message_template.$dirty">
                        <small class="text-danger" ng-show="form_rule.message_template.$error.required">{{'SETTING.NOT_NULLABLE' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.IS_ENABLED' | translate}}</label>
                <div class="col-sm-10">
                  <div class="checkbox checkbox-success">
                      <input id="chk_rule_isenabled" type="checkbox" ng-model="rule.is_enabled" ng-checked="rule.is_enabled">
                      <label for="chk_rule_isenabled">{{'FDD.IS_ENABLED' | translate}}</label>
                  </div>
                </div>
            </div>
             <div class="form-group"><label class="col-sm-2 control-label">{{'FDD.IS_RUN_IMMEDIATELY' | translate}}</label>
                <div class="col-sm-10">
                    <div class="checkbox checkbox-success">
                        <input id="chk_user_isadmin" ng-model="rule.is_run_immediately" type="checkbox" ng-checked="rule.is_run_immediately">
                        <label for="chk_user_isadmin"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_rule.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
