<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{microgridpowerconversionsystem.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_microgridpowerconversionsystem" novalidate class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'SETTING.NAME' | translate}}</label>
                <div class="col-sm-9">
                    <input ng-model="microgridpowerconversionsystem.name" type="text" name="microgridpowerconversionsystemname" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemname.$invalid && form_microgridpowerconversionsystem.microgridpowerconversionsystemname.$dirty">
                        <small class="text-danger" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemname.$error.required">{{'MICROGRID.INPUT_MICROGRID_POWER_CONVERSION_SYSTEM' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.RUN_STATE_POINT' | translate}}</label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridpowerconversionsystem.run_state_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.RATED_OUTPUT_POWER' | translate}}(kW)</label>
                <div class="col-sm-9">
                    <input ng-model="microgridpowerconversionsystem.rated_output_power" type="number" name="microgridpowerconversionsystemrated_output_power" class="form-control" required="" min="0" max="999999">
                    <div class="m-t-xs" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemrated_output_power.$invalid && form_microgridpowerconversionsystem.microgridpowerconversionsystemrated_output_power.$dirty">
                        <small class="text-danger" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemrated_output_power.$error.required">{{'MICROGRID.INPUT_CAPACITY' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.TODAY_CHARGE_ENERGY_POINT' | translate}}</label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridpowerconversionsystem.today_charge_energy_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.TODAY_DISCHARGE_ENERGY_POINT' | translate}}</label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridpowerconversionsystem.today_discharge_energy_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.TOTAL_CHARGE_ENERGY_POINT' | translate}}</label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridpowerconversionsystem.total_charge_energy_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.TOTAL_DISCHARGE_ENERGY_POINT' | translate}}</label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridpowerconversionsystem.total_discharge_energy_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_microgridpowerconversionsystem.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
