<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{microgridbattery.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_microgridbattery" novalidate class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">{{'MICROGRID.MICROGRID_BATTERY_NAME' | translate}}</label>
                <div class="col-sm-10"><input ng-model="microgridbattery.name" type="text" name="microgridbatteryname" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridbattery.microgridbatteryname.$invalid && form_microgridbattery.microgridbatteryname.$dirty">
                        <small class="text-danger" ng-show="form_microgridbattery.microgridbatteryname.$error.required">{{'MICROGRID.INPUT_MICROGRID_BATTERY_NAME' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.BATTERY_STATE_POINT' | translate}}</label>
                <div class="col-sm-10">
                    <ui-select ng-model="microgridbattery.battery_state_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.SOC_POINT' | translate}}</label>
                <div class="col-sm-10">
                    <ui-select ng-model="microgridbattery.soc_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.POWER_POINT' | translate}}</label>
                <div class="col-sm-10">
                    <ui-select ng-model="microgridbattery.power_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.CHARGE_METER' | translate}}</label>
                <div class="col-sm-10">
                    <ui-select ng-model="microgridbattery.charge_meter.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="meter.id as meter in meters | filter: $select.search">
                            <div ng-bind-html="meter.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.DISCHARGE_METER' | translate}}</label>
                <div class="col-sm-10">
                    <ui-select ng-model="microgridbattery.discharge_meter.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="meter.id as meter in meters | filter: $select.search">
                            <div ng-bind-html="meter.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.RATED_CAPACITY' | translate}} (kWh)</label>
                <div class="col-sm-10"><input ng-model="microgridbattery.rated_capacity" type="number" name="microgridbatteryrated_capacity" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridbattery.microgridbatteryrated_capacity.$invalid && form_microgridbattery.microgridbatteryrated_capacity.$dirty">
                        <small class="text-danger" ng-show="form_microgridbattery.microgridbatteryrated_capacity.$error.required">{{'MICROGRID.INPUT_CAPACITY' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.RATED_POWER' | translate}} (kW)</label>
                <div class="col-sm-10"><input ng-model="microgridbattery.rated_power" type="number" name="microgridbatteryrated_power" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridbattery.microgridbatteryrated_power.$invalid && form_microgridbattery.microgridbatteryrated_power.$dirty">
                        <small class="text-danger" ng-show="form_microgridbattery.microgridbatteryrated_power.$error.required">{{'MICROGRID.INPUT_CAPACITY' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">{{'MICROGRID.NOMINAL_VOLTAGE' | translate}} (V)</label>
                <div class="col-sm-10"><input ng-model="microgridbattery.nominal_voltage" type="number" name="microgridbatterynominal_voltage" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridbattery.microgridbatterynominal_voltage.$invalid && form_microgridbattery.microgridbatterynominal_voltage.$dirty">
                        <small class="text-danger" ng-show="form_microgridbattery.microgridbatterynominal_voltage.$error.required">{{'MICROGRID.INPUT_NOMINAL_VOLTAGE' | translate}}</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_microgridbattery.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
