<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{microgridgenerator.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_microgridgenerator" novalidate class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'MICROGRID.MICROGRID_GENERATOR_NAME' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input ng-model="microgridgenerator.name" type="text" name="microgridgeneratorname" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridgenerator.microgridgeneratorname.$invalid && form_microgridgenerator.microgridgeneratorname.$dirty">
                        <small class="text-danger" ng-show="form_microgridgenerator.microgridgeneratorname.$error.required">{{'MICROGRID.INPUT_MICROGRID_GENERATOR_NAME' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.POWER_POINT' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridgenerator.power_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.METER' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <ui-select ng-model="microgridgenerator.meter.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="meter.id as meter in meters | filter: $select.search">
                            <div ng-bind-html="meter.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'MICROGRID.RATED_OUTPUT_POWER' | translate}}(kW)<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input ng-model="microgridgenerator.rated_output_power" type="number" name="microgridgeneratorrated_output_power" class="form-control" required="" min="0" max="999999">
                    <div class="m-t-xs" ng-show="form_microgridgenerator.microgridgeneratorrated_output_power.$invalid && form_microgridgenerator.microgridgeneratorrated_output_power.$dirty">
                        <small class="text-danger" ng-show="form_microgridgenerator.microgridgeneratorrated_output_power.$error.required">{{'MICROGRID.INPUT_CAPACITY' | translate}}</small>
                        <small class="text-danger" ng-show="form_microgridgenerator.microgridgeneratorrated_output_power.$error.min">{{'MICROGRID.INVALID_INPUT_HINT' | translate}}</small>
                        <small class="text-danger" ng-show="form_microgridgenerator.microgridgeneratorrated_output_power.$error.max">{{'MICROGRID.INVALID_INPUT_HINT' | translate}}</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_microgridgenerator.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
