<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{microgridpowerconversionsystem.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_microgridpowerconversionsystem" novalidate class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-6 control-label">{{'SETTING.NAME' | translate}}</label>
                <div class="col-sm-6"><input ng-model="microgridpowerconversionsystem.name" type="text" name="microgridpowerconversionsystemname" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemname.$invalid && form_microgridpowerconversionsystem.microgridpowerconversionsystemname.$dirty">
                        <small class="text-danger" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemname.$error.required">{{'MICROGRID.INPUT_MICROGRID_POWER_CONVERSION_SYSTEM' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.RUN_STATE_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.run_state_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.RATED_OUTPUT_POWER' | translate}}(kW)</label>
                <div class="col-sm-6"><input ng-model="microgridpowerconversionsystem.rated_output_power" type="number" name="microgridpowerconversionsystemrated_output_power" class="form-control" required="">
                    <div class="m-t-xs" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemrated_output_power.$invalid && form_microgridpowerconversionsystem.microgridpowerconversionsystemrated_output_power.$dirty">
                        <small class="text-danger" ng-show="form_microgridpowerconversionsystem.microgridpowerconversionsystemrated_output_power.$error.required">{{'MICROGRID.INPUT_CAPACITY' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME1_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time1_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME1_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time1_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME2_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time2_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME2_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time2_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME3_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time3_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME3_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time3_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME4_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time4_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME4_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time4_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME1_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time1_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME1_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time1_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME2_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time2_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME2_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time2_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME3_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time3_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME3_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time3_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME4_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time4_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME4_POINT' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time4_point.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="point.id as point in points | filter: $select.search">
                            <div ng-bind-html="point.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME1_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time1_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME1_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time1_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME2_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time2_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME2_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time2_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME3_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time3_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME3_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time3_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_START_TIME4_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_start_time4_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.CHARGE_END_TIME4_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.charge_end_time4_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME1_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time1_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME1_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time1_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME2_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time2_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME2_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time2_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME3_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time3_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME3_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time3_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_START_TIME4_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_start_time4_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-6 control-label">{{'MICROGRID.DISCHARGE_END_TIME4_COMMAND' | translate}}</label>
                <div class="col-sm-6">
                    <ui-select ng-model="microgridpowerconversionsystem.discharge_end_time4_command.id" theme="bootstrap" required>
                        <ui-select-match allow-clear="false" placeholder="{{'COMMON.PLACEHOLDER' | translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="command.id as command in commands | filter: $select.search">
                            <div ng-bind-html="command.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_microgridpowerconversionsystem.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>
