<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{ operation | translate}}<span ng-if="storeType.id">(ID:{{storeType.id}})</span></h4>
    </div>
    <div class="modal-body">
        <form role="form" name="storeTypeForm" novalidate class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'SETTING.NAME' | translate }} <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input 
                        type="text" 
                        class="form-control" 
                        ng-model="storeType.name" 
                        name="storeTypeName"
                        required 
                        placeholder="{{ 'SETTING.INPUT_NAME' | translate }}"
                        ng-trim="true"
                    >
                    <div class="m-t-xs" ng-show="storeTypeForm.storeTypeName.$invalid && storeTypeForm.storeTypeName.$dirty">
                        <small class="text-danger" ng-show="storeTypeForm.storeTypeName.$error.required">
                            {{ 'SETTING.INPUT_NAME' | translate }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'SETTING.DESCRIPTION' | translate }} <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input 
                        type="text" 
                        class="form-control" 
                        ng-model="storeType.description" 
                        name="storeTypeDescription"
                        required 
                        placeholder="{{ 'SETTING.ENTER_DESCRIPTION' | translate }}"
                        ng-trim="true"
                    >
                    <div class="m-t-xs" ng-show="storeTypeForm.storeTypeDescription.$invalid && storeTypeForm.storeTypeDescription.$dirty">
                        <small class="text-danger" ng-show="storeTypeForm.storeTypeDescription.$error.required">
                            {{ 'SETTING.ENTER_DESCRIPTION' | translate }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'SETTING.STORE_TYPE_SIMPLIFIED_CODE' | translate }} <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input 
                        type="text" 
                        class="form-control" 
                        ng-model="storeType.simplified_code" 
                        name="storeTypeSimplifiedCode"
                        required 
                        placeholder="{{ 'SETTING.ENTER_STORE_TYPE_SIMPLIFIED_CODE' | translate }}"
                        ng-trim="true"
                    >
                    <div class="m-t-xs" ng-show="storeTypeForm.storeTypeSimplifiedCode.$invalid && storeTypeForm.storeTypeSimplifiedCode.$dirty">
                        <small class="text-danger" ng-show="storeTypeForm.storeTypeSimplifiedCode.$error.required">
                            {{ 'SETTING.ENTER_STORE_TYPE_SIMPLIFIED_CODE' | translate }}
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{ 'SETTING.CANCEL' | translate }}</button>
        <button 
            type="button" 
            class="btn btn-primary" 
            ng-click="ok()" 
            ng-disabled="storeTypeForm.$invalid" 
        >{{ 'SETTING.SAVE' | translate }}</button>
    </div>
</div>

