<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" ng-if="description">
            <p>
                {{description | translate}}
                <a ng-click="isCollapsed = !isCollapsed" class="pull-right">
                    {{(isCollapsed ? 'COMMON.COLLAPSE' : 'COMMON.CLICK_TO_EXPAND_FOR_MORE_DESCRIPTION') | translate}}
                </a>
            </p>
            <div uib-collapse="!isCollapsed">
                <hr>
                <p ng-if="description_more">{{description_more | translate}}</p>
            </div>
        </div>
        <form role="form" name="form_export" novalidate class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea ng-model="exportdata" rows="22" cols="100" name="exportdata" class="form-control" required="" placeholder=""></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_export.$invalid" class="btn btn-primary" ng-click="ok();">{{'SETTING.COPY' | translate}}</button>
    </div>
</div>
