<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" ng-show="description">
            <p>
                {{description | translate}}
                <a ng-click="isModelCollapsed = !isModelCollapsed" class="pull-right">
                    {{(isModelCollapsed ? 'COMMON.COLLAPSE' : 'COMMON.CLICK_TO_EXPAND_FOR_MORE_DESCRIPTION') | translate}}
                </a>
            </p>
            <div uib-collapse="!isModelCollapsed">
                <hr>
                <p>{{description_more | translate}}</p>
            </div>
        </div>
        <form role="form" name="form_import" novalidate class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea ng-model="importdata" rows="22" cols="100" name="importdata" class="form-control" required="" placeholder=""></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_import.$invalid" class="btn btn-primary" ng-click="ok();">{{'SETTING.IMPORT' | translate}}</button>
    </div>
</div>
